body {
	
}


#clock {
}

#clock img {

}

#hour {
	transform: rotate(0deg);
	position: absolute;
	left: 1%;
}

#minute {
	transform: rotate(0deg);
	position: absolute;
	left: 1%;
	z-index: 1;
}

#second {
	transform: rotate(0deg);
	position: absolute;
	left: 1%;
	z-index: 2;
}
